h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:active {
  color: currentColor;
}

:root {
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-font-size: 14px;
  --primary-letter-spacing: 0.03em;
  --primary-background-color: #ffffff;
  --secondary-backrground-color: #f5f4fa;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --logo-studio-color: #000000;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --button-color: #f5f4fa;
  --icon-color: #afb1b8;
  --card-gap: 30px;
  --row-cards-qty: 3;
  --primary-transition-duration: 250ms;
  --primary-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  display: block;
  width: 145px;
}

.logo__web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo__studio {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__studio--light {
  color: var(--primary-background-color);
}

.logo__studio--dark {
  color: var(--logo-studio-color);
}

.icon {
  width: 70px;
  height: 70px;
}

.icon-menu {
  width: 24px;
  height: 16px;
}

.icon-close {
  width: 19px;
  height: 19px;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 16px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.soc-list__item:first-child {
  margin-left: 0;
}

.soc-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}

.soc-list__link--grey {
  fill: #afb1b8;
}

.soc-list__link--white {
  fill: currentColor;
  color: var(--primary-background-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-list__link:hover .icon-soc,
.soc-list__link:focus .icon-soc {
  fill: #ffffff;
}

.nav-contact {
  display: flex;
}

.nav {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 93px;
  }
  .site-nav .site-nav__link {
    display: block;
    padding: 32px 0;
  }
  .site-nav .site-nav__link.current {
    color: var(--accent-color);
  }
}

.site-nav__item {
  position: relative;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition-property: color;
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
}
.site-nav .site-nav__link:hover, .site-nav .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link.current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-wrap {
  display: inline-flex;
  justify-content: flex-end;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-left: auto;
  }
  .contacts .contacts__link {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: 1.71;
    color: var(--footer-link-color);
    transition-property: color;
    transition-duration: var(--primary-transition-duration);
    transition-timing-function: var(--primary-transition-timing-function);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
  }
}

.icon-smartphone,
.icon-envelope {
  margin-right: 10px;
  transition-property: color;
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
}
.contacts__link:hover .icon-smartphone, .contacts__link:focus .icon-smartphone,
.contacts__link:hover .icon-envelope,
.contacts__link:focus .icon-envelope {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mob-menu-wrap,
.icon-menu,
.menu-btn {
    display: none;
  }
}
.menu-btn {
  position: absolute;
  top: 0;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.menu-btn:hover .icon-menu {
  fill: var(--accent-color);
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-color: transparent;
  cursor: pointer;
}
.menu-close-btn:hover .icon-close {
  fill: var(--accent-color);
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
}

.menu-close-btn:hover .current {
  color: #212121;
}

.mob-menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 0px 48px 25px;
  background-color: #fff;
  z-index: 2;
}
.mob-menu-wrap .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu__top {
  margin-bottom: 30px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.current {
  color: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contacts__link.tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu-contacts__item.mail {
  margin-bottom: 64px;
}

.mob-menu-soc {
  display: flex;
  flex-wrap: wrap;
}

.mob-menu-soc__item {
  margin-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mob-menu-soc__item:not(:first-child)::before {
  content: "";
  margin-right: 10px;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-menu-soc__link {
  color: var(--accent-color);
}

.mob-menu-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.main-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: 0px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
.main-button:hover, .main-button:focus {
  background-color: #188ce8;
  color: var(--primary-background-color);
}

.buttons-wrap {
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-bottom: -15px;
}
@media screen and (min-width: 768px) {
  .buttons {
    justify-content: center;
  }
}

.button-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  min-height: 38px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--button-color);
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
}
.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  text-align: center;
  margin: 0px 0px 50px 0px;
  color: var(--secondary-text-color);
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.section.our-activity {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section.our-activity {
    display: block;
    padding: 0 0 94px 0;
  }
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
  background-color: #2f303a;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.hero {
  padding: 118px 0;
  max-width: 100%;
  min-height: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/hero-bg-mob-min.jpg);
  background-size: cover;
  background-position: center;
  background-color: var(--primary-text-color);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/hero-bg-mob-2x-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/hero-bg-tablet-min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/hero-bg-tab-2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/hero-bg-desk-2x-min.jpg);
  }
}

.hero__title {
  color: var(--primary-background-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    min-width: 696px;
  }
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}
@media screen and (min-width: 1200px) {
  .advantages {
    flex-wrap: nowrap;
  }
}

.advantages__item {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
  }
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--button-color);
  border-radius: 4px;
}

.advantages__description {
  margin: 0;
  line-height: 1.71;
  height: 50px;
}
@media screen and (min-width: 1200px) {
  .advantages__description {
    height: 75px;
  }
}

.advantages__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    text-align: left;
  }
}

.section__title.what-we-do {
  margin-bottom: 50px;
}

.pictures {
  display: flex;
}

.pictures__item + .pictures__item {
  margin-left: var(--card-gap);
}

.pictures__thumb {
  position: relative;
}
.pictures__thumb .pictures__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  min-height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--primary-background-color);
  background: rgba(47, 48, 58, 0.8);
}

.pictures__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.our-team {
  background-color: var(--secondary-backrground-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__item-card {
  padding: 30px 32px;
}

.team__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.team__item-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  min-height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition-property: border-color;
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
}
@media screen and (min-width: 768px) {
  .client-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-link {
    width: 170px;
  }
}
.client-link:hover {
  border-color: var(--accent-color);
}

.clients-list-item {
  width: calc(100% - 60px)/2;
}
@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc(100% - 90px)/3;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: calc(100% - 180px)/6;
  }
}

.tag-line-here,
.tag-line,
.company,
.foster-peters,
.brand,
.ya-co {
  fill: currentColor;
  transition-property: fill;
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
}
.client-link:hover .tag-line-here, .client-link:focus .tag-line-here,
.client-link:hover .tag-line,
.client-link:focus .tag-line,
.client-link:hover .company,
.client-link:focus .company,
.client-link:hover .foster-peters,
.client-link:focus .foster-peters,
.client-link:hover .brand,
.client-link:focus .brand,
.client-link:hover .ya-co,
.client-link:focus .ya-co {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .address-soc {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .adrress-contacts-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .adrress-contacts-wrap {
    display: flex;
    justify-content: flex-start;
    width: 530px;
    margin-bottom: 0;
  }
}
.logo-footer {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    margin: 0 0 20px 0;
  }
}

.container .link,
.footer-contacts {
  display: block;
}

.address-only {
  color: var(--primary-background-color);
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: inherit;
  line-height: 1.71;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address {
    margin-bottom: 0;
  }
}
.address .footer-contacts {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .address .footer-contacts {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    width: 231px;
    align-items: flex-start;
  }
  .address .footer-contacts {
    margin-top: 9px;
  }
}

.footer-contacts {
  text-decoration: none;
  line-height: 1.71;
  color: var(--footer-link-color);
  transition-property: color;
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
}
.address .footer-contacts:hover, .address .footer-contacts:focus {
  color: var(--accent-color);
}

.soc-header,
.mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.footer-soc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-soc {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    padding-top: 12px;
    align-items: flex-start;
    margin-left: 70px;
  }
}

.soc-header,
.mailing-title {
  color: var(--primary-background-color);
}

.soc-list > .soc-list__item {
  margin-top: 20px;
}

.mailing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .mailing {
    padding-top: 12px;
    margin-left: 93px;
    align-items: flex-start;
  }
}

.mailing-title {
  margin-bottom: 20px;
}

.email-footer {
  background-color: transparent;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.email-footer::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .email-footer {
    width: 358px;
    margin: 0;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.footer-form-wrap {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-form-wrap {
    padding: 0 152px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-wrap {
    padding: 0;
  }
}

.subscribe-btn {
  margin-right: auto;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.subscribe-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../imges/send.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-btn {
    margin-left: 12px;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}
.projects .projects__item-title {
  color: var(--secondary-text-color);
}
.projects .projects__item {
  width: 100%;
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}
@media screen and (min-width: 768px) {
  .projects .projects__item {
    flex-basis: calc(50% - var(--card-gap));
  }
}
@media screen and (min-width: 1200px) {
  .projects .projects__item {
    flex-basis: calc(100% / var(--row-cards-qty) - var(--card-gap));
  }
}

.projects__item-card {
  flex-grow: 1;
  padding: 20px 24px;
}

.projects__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px 0;
}

.projects__item-description {
  font-size: 16px;
  line-height: 1.88;
}

.projects__item-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects__item-link:hover, .projects__item-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item-thumb {
  position: relative;
  overflow: hidden;
}

.projects__item-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  overflow: auto;
  transition-property: transform;
  transition-duration: var(--primary-transition-duration);
  transition-timing-function: var(--primary-transition-timing-function);
  transform: translateY(101%);
}
.projects__item-link:hover .projects__item-text, .projects__item-link:focus .projects__item-text {
  transform: translateY(0);
}
.projects__item-text::-webkit-scrollbar {
  width: 5px;
}
.projects__item-text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.projects__item-text::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px 0 15px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms var(--primary-transition-timing-function), visibility 500ms var(--primary-transition-timing-function);
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 0;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-height: 609px;
  padding: 40px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms var(--primary-transition-timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-background-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-textarea {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:focus {
  border-color: var(--accent-color);
}

.agreement {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .agreement {
    margin-left: 12px;
  }
}

.checkbox {
  margin-right: 8.38px;
}

.agreement > .modal-label {
  margin: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-left: 23.38px;
}
@media screen and (min-width: 1200px) {
  .agreement > .modal-label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-label a {
  color: var(--accent-color);
}

.modal-button {
  display: block;
  padding: 10px 55px;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.modal-button:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-field {
  position: relative;
  margin-bottom: 10px;
}

.textarea-wrap {
  height: 120px;
  margin-bottom: 20px;
}

.modal-input:focus + .icon-phone,
.modal-input:focus + .icon-person,
.modal-input:focus + .icon-email {
  fill: var(--accent-color);
}

.icon-phone,
.icon-person,
.icon-email {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.square {
  display: block;
  width: 16px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.checkbox:checked + .square {
  background-color: var(--accent-color);
  fill: var(--accent-color);
}

.check-icon {
  display: block;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(300%);
}

.checkbox:checked ~ .check-icon {
  transform: translateY(-50%);
  fill: var(--primary-background-color);
}

.checkbox:focus + .square {
  fill: var(--accent-color);
}/*# sourceMappingURL=main.css.map */