.section__title.what-we-do {
  margin-bottom: 50px;
}

.pictures {
  display: flex;
}

.pictures__item + .pictures__item {
  margin-left: var(--card-gap);
}

.pictures__thumb {
  position: relative;
  .pictures__title {
    @include align-list;
    width: 370px;
    min-height: 70px;

    position: absolute;
    left: 0;
    bottom: 0;

    color: var(--primary-background-color);
    background: rgba(47, 48, 58, 0.8);
  }
}

.pictures__title {
  @include font(700, 14px, 1.14, null);
}
