.section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.section__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
  color: var(--secondary-text-color);
  @include font(null, 28px, 1.17, null);
  @include desktop {
    @include font(null, 36px, 1.16, null);
  }
  @include desktop {
    margin: 0px 0px 50px 0px;
  }
}
.section.our-activity {
  display: none;
  @include desktop {
    display: block;
    padding: 0 0 94px 0;
  }
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
  background-color: #2f303a;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
