:root {
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-font-size: 14px;
  --primary-letter-spacing: 0.03em;
  --primary-background-color: #ffffff;
  --secondary-backrground-color: #f5f4fa;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --logo-studio-color: #000000;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --button-color: #f5f4fa;
  --icon-color: #afb1b8;
  --card-gap: 30px;
  --row-cards-qty: 3;
  --primary-transition-duration: 250ms;
  --primary-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
